<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>todo</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body class="body">
    <div class="heading">
        <h1 class="h1">
            <%=kindofDay %>
        </h1>
    </div>
    
    <div class="list">
        <% for (var i=0; i<listItem.length; i++){ %>
        <div class="card">
            <div class="container">
            
                <p><span>
                <form action="/delete" method="post">
                <input type="checkbox" name="checkbox" value="<%=listItem[i]._id%>" onChange="this.form.submit()">
                </span>
                    <%=     listItem[i].name     %></form>
                </p>
                
            </div>
        </div>
        <% } %>
        <form action="/" method="post">
            <input class="input" type="text" name="item" placeholder="Enter Item">
            <button class="butn" type="submit" name="button"> + </button>
        </form>
    </div>
</body>

</html>